/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* UNIVERSAL STYLES ================================= */

    /* == HEADER ======================== */

        header.main-header {
            width: 100%;
        }

        header.main-header.logo {
            width: 100%;
            margin: 0 auto;
            clear: both;
        }

        header.main-header nav {
            width: 100%;
            margin: 0 auto;
            clear: both;
        }

    /* == MAIN ========================== */

        main {
            width: 96%;
            padding: 0 2%;
            margin: auto;
            clear: both;
        }

        main.hero-area {
            width: 100%;
            margin: auto;
        }


    /* == FOOTER ======================== */

        footer {
            width: 100%;
            margin: auto;
        }

        .footer-logo {
            width: 47.5%;
            margin: auto;
        }

/* HOMEPAGE ========================================= */

    /* == HEADER ======================== */

        /* All Universal */

    /* == MAIN ========================== */

      /* Hero Area */

        /* Top Story */

            article.top-story {
                width: 100%;
                margin: auto;
            }

            article.top-story.top-img {
                width: 100%;
                margin: auto;
            }
        
        /* Aside - Sidebar */

            .sidebar {
                width: 100%;
                margin: auto;
            }

          /* Sidebar - Newsletter */

                main.sidebar.sidebar-newsletter {
                    width: 100%;
                    margin: auto;
                }
                
                .sidebar-newsletter .field   {
                    width: 99%;
                    margin: auto;
                    display: block;
                }
     
               .sidebar-newsletter .btn {
                    width: 100%;
                    margin: auto;
                    display: block;  
                }

          /* Sidebar - About Us */

                .sidebar-about-us {
                    display: none;
                }

          /* Sidebar - Frequently Asked Questions */

                .sidebar-faqs {
                    display: none;
                }

      /* Feed */

        .feed {
            width: 100%;
            margin: auto;
        }

          /* Feed Item */

            .feed-item {
                width: 100%;
                margin: auto;
            }

                .feed-type {
                    width: 100%;
                    margin: 0;
                }

                .feed-img {
                    width: 48%;
                    display: inline;
                    margin: auto;
                    padding-right: 2%;
                    float: left;
                }

                .feed-item h2, feed-item p {
                    width: 48%;
                    display: inline;
                    margin: auto;
                    padding-right: 2%;
                    float: left;
                }

                .feed-item p {
                    display: none;
                }

    /* == FOOTER ======================== */

        footer {
            width: 100%;
            margin: auto;
            clear: both;
        }

        .footer-logo {
            width: 47.5%;
            margin: auto;
        }

/* ABOUT US ========================================= */

    /* == HEADER ======================== */

    /* All Universal */

    /* == MAIN ========================== */

        main.about {
            width: 92%;
            padding: 0 4%;
            margin: auto;
            clear: both;
        }

        /* Hero Area */

            /* Contact Info*/

                .contact-info h1 {
                    width: 100%;
                    margin: auto;
                    clear: both;
                }

                .contact-info ul {
                    width: 100%;
                    margin: auto;
                    display: inline;
                }

                    .contact-info ul li {
                        
                        float: left;
                        list-style: none;
                    }

                        .contact-info ul li.strong {
                            margin-right: 0;
                        }
            /* Map */
                
                /* MAP STYLES GO HERE */

            /* Mission Statement */

                .mission {
                    width: 98%;
                    padding-right: 2%;
                    margin: auto;
                    clear: both;
                }

        /* Team */

            .team {
                width: 100%;
                margin: auto;
            }

            /* Team Member */

                .team-member {
                    width: 100%;
                    margin: auto;
                    clear: both;
                }

                    .team-img {
                        width: 50%;
                        display: inline;
                        float: left;
                        margin: auto;
                        height: auto;
                        padding-bottom: 3%;
                    }

                    .team-name, .team-title, .team-description {
                        width: 48%;
                        margin: 0;
                        padding: 0 1%;
                        display: inline;
                        float: left;
                    }

                    .team-description {
                        display: none;
                    }



    /* == FOOTER ======================== */

        footer {
            width: 100%;
            margin: auto;
            clear: both;
        }

        .footer-logo {
            width: 47.5%;
            margin: auto;
        }

/* FAQs ============================================= */
    
    /* == HEADER ======================== */

    /* All Universal */

    /* == MAIN ========================== */

    main.faqs {
            width: 92%;
            padding: 0 4%;
            margin: auto;
            clear: both;
        }

        /* Questions */

            .questions {
                width: 100%;
            }

            /* Question */

                .question {
                    width: 99%;
                    margin: auto;
                    padding-right: 1%;
                }

                .question-title {
                    width: 95%;
                    margin: auto;
                    padding-right: 5%;
                }

    /* == FOOTER ======================== */

    footer {
        width: 100%;
        margin: auto;
    }

    .footer-logo {
        width: 47.5%;
        margin: auto;
    }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
